body {
  text-align: center;
}

h1 {
  font-size: 50px;
}

.btn-info {
  font-size: 50px;
  margin: 20px;
  padding: 20px;
  border-radius: 0px;
}

#column1 {
  padding: 5px;
}

#column2 {
  padding: 5px;
}

#column3 {
  padding: 5px;
}

.panel.panel-info.playerX {
  float: left;
  margin-left: 400px;
  font-size: 20px;
}

.panel.panel-info.playerO {
  float: right;
  margin-right: 400px;
  font-size: 20px;
}

#label-playerX {
  float: left;
  margin-left: 400px;
}

#label-playerO {
  float: right;
  margin-right: 400px;
}

#new-game {
  float: left;
  margin-left: 600px;
}

#reset-score {
  float: right;
  margin-right: 620px;
}
